.App {
  background-color: darkgreen;
  color: white;
}

.App-header {
  background-image: url(./assets/Header/heroimage.jpg);
  background-position: center bottom;
  background-size: cover;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(5px + 2vmin);
  color: darkgreen;
}

.App-footer {
  background-color: darkgreen;
  min-height: 2vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(5px + 2vmin);
  color: white;
}

a {
  text-decoration: none;
  color: inherit;
  margin: 0 10px;
}

.biopic {
  width: auto;
  height: 100px;
}


